{% extends 'layout.html' %}

{% block title %}Log in{% endblock %}

{% block content %}

  <form style="text-align:center;margin-top:100px" class="" action="" method="post">
    <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Enter Your Username"><br><br>
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Enter Your Password"><br><br>
      <button type="submit" name="button">Log in</button>
  </form>

{% endblock %}
